:root {
    --color-day-bg: #0984e3;
    --color-day-icon: #ffe4a1;
    --color-night-bg: #032b43;
    --color-night-icon: #b9c6d3;
    --color-light: 255, 255, 255;
    --color-dark: #4a4a4a;
    --color-shadow-light: rgba(48, 48, 48, 0.15);
    --color-shadow-mid: rgba(0, 0, 0, 0.25);
    --color-shadow-dark: rgba(0, 0, 0, 0.9); 
}
body{
    height: 90vh;
    display: flex;
}
label[for="toggle"]{
    margin: auto;
    display: flex;
    align-items: center;
    &:focus,
    &:active{
        outline: none;
        border: 0;
        .knob{
            box-shadow: 0px 0px 0px 2px var(--color-dark) inset;
            border: 1px solid white;
        }
    }
    > [type="checkbox"]{
        display: none;
        &:checked{
            ~ .switch{
                transition-delay: 200ms;
                background-color: var(--color-night-bg);
                .knob{
                    left: 30px;
                }
                .moon{
                    transition-delay: 200ms;
                    top: 0;
                }
                .sun{
                    bottom: -50px;
                    transition: box-shadow 500ms;
                    transition-delay: 200ms;
                    box-shadow: 0px 0 0px -3px var(--color-day-icon), 
                    0px 0px 0px -3px var(--color-day-icon), 
                    0px -0px 0px -3px var(--color-day-icon), 
                    0px 0px 0px -3px var(--color-day-icon), 
                    0px 0px 0px -3px var(--color-day-icon), 
                    0px 0px 0px -3px var(--color-day-icon), 
                    0px 0px 0px -3px var(--color-day-icon), 
                    0px 0px 0px -3px var(--color-day-icon);
                }
            }
            ~ .label{
                &::before{
                    opacity: 1;
                }
                &::after{
                    opacity: 0;
                }
            }
            ~ .overlay{
                background-color: var(--color-dark);
            }
        }
    }
}
.label{
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    color: transparent;
    &::before,
    &::after{
        position: absolute;
        left: 0;
        white-space: nowrap;
        z-index: 1;
    }
    &::before{
        content: attr(data-dark);
        color: rgba(white,1);
    }
    &::after{
        content: attr(data-light);
        color: var(--color-dark);
    }
}
.switch{
    position: relative;
    background-color: var(--color-day-bg);
    width: 56px;
    height: 28px;
    border-radius: 14px;
    margin-left: 10px;
    overflow: hidden;
    transition: 200ms;
    z-index: 1;
    > .knob{
        border: 1px solid transparent;
        transition: 200ms;
        top: 0;
        bottom: 0;
        position: absolute;
        margin: auto;
        left: 4px;
        background: linear-gradient(229.84deg, rgba(white, 0) 14.29%, var(--color-shadow-light) 81.82%), rgba(white,1);
        box-shadow: 0px 0px 4px var(--color-shadow-mid);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: block;
    }
    > .moon{
        transition: 200ms;
        box-shadow: 4px -4px 1px 1px var(--color-night-icon) inset;
        display: block;
        position: absolute;
        top: -50px;
        bottom: 0;
        margin: auto;
        left: 4px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
    }
    > .sun{
        transition: box-shadow 500ms, bottom 200ms;
        transition-delay: 200ms;
        background-color: var(--color-day-icon);
        box-shadow: 0px -8px 0px -3px var(--color-day-icon), 
        0px 8px 0px -3px var(--color-day-icon), 
        5px -6px 0px -3px var(--color-day-icon), 
        -5px -6px 0px -3px var(--color-day-icon), 
        8px 0px 0px -3px var(--color-day-icon), 
        5px 6px 0px -3px var(--color-day-icon), 
        -8px 0px 0px -3px var(--color-day-icon), 
        -5px 6px 0px -3px var(--color-day-icon);
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 36px;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        z-index: -1;
    }
}
.overlay{
    transition-delay: 300ms;
    transition: 200ms;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}
 